@media(max-width: 1650px){
  .popularity .container{
    max-width: none;
  }
}
@media(max-width: 1400px){
  .history__form {
    background-color: #f6f9f3;
    max-width: 400px;
    padding: 30px;
    margin-left: 109px;
  }
    .popularity__wrapper {
  background-size: 750px;
  }
}
@media(max-width: 1280px){
  .popularity {
    padding-top: 170px;
  }
  .popularity__inner {
    align-items: center;
    flex-direction: column;
  } 
  .popularity__wrapper {
    background-image:none;
  }
  .popularity__momile-jpg{
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-size: 1000px;
    background-image: url(../images/popularity.jpg);
    order: 1;
  }
  .popularity__right {
    max-width: 610px;
    order: 0;
  }
  .popularity__box {
    margin-top: -100px;
    order: 2;
  }
  .popularity__right-subtitle {
    text-align: center;
    padding: 40px 0;
  }
  .popularity__right-title {
    text-align: center;
    margin-top: 0px;
  }
  .popularity__box-text {
    margin-right: 0px;
  }
  .popularity__box-link{
    display: block;
    text-align: center;
    margin-top: 0px;
  }
  .popularity__box-link::after{
    right: 45px;
    top: 29px;
  }
  .items .container{
    display: flex;
    justify-content: center
  }
  .items__title {
    text-align: center;
  }
}
@media(max-width: 1200px){
  .reviews__link {
    margin-bottom: 100px;
  }
  .popularity__right {
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popularity__right-list {
    max-width: 520px;
  }
  .history__wrapper {
    display: flex;
    background-image: none;
    flex-direction: column;
    justify-content: center;
  }
  .history__text ::before {
    display: none;
  }
  .history .container{
    padding: 0;
  }
  .history__text {
    background-color: #f6f9f3;
    padding: 42px 90px 65px 90px;
    max-width: 100%;
    position: relative;
  }
  .history__title{
    min-width: 100%;
    text-align: center;
    padding: 200px 100px 34px 100px;
    height: 220px;
  }
  .history__title {
  background-color: #f6f9f3;
  padding-top: 0px;
  }
  .history__form{
    background-color: transparent;
    position: relative;
  }
  .history__imj-mobile{
    position: absolute;
    z-index: 2;
    width: 360px;
    height: 420px;
    background-size: 360px;
    background-image: url(../images/alonco.jpg);
    left: 120%;
    top: -10%;
  }
  .composition__box {
    max-width: 100%;
    order: 0;
  }
  .composition__item{
    order: 1;
  }
  .composition__row{
    justify-content: space-around;
  }
  .composition__link {
    max-width: 600px;
    order: 3;
  }
  .reviews-text:nth-child(even) {
    display: none;
  }
  .reviews-text:nth-child(odd) {
    max-width: 100%;
  }
  .build__wrapper { 
    background-size: 480px;
  }
  .certificate__content {
    min-width: auto
  }
}
@media(max-width: 1040px){
  .certificate {
    margin-top: 160px;
  }
  .certificate__wrapper{
    padding: 30px 0 80px;
  }
  .footer__inner {
    margin-top: 30px;
  }
  .footer__container-links {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
    .list .container-fluid {
        background-color: #fff;
  } 
  .top__inner-img{
    margin-left: 0;
  }
  .advantages__inner {
    flex-wrap: wrap;
  }
  .advantages__item {
    width: 50%;
    margin-left: 0;
  }
  .list__inner{
    display: block;
  }
  .tabs__content{
    margin: 0 auto;
    max-width: 500px;
  }
  .tabs__reviews{
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .tabs__content::before,.tabs__content::after{
    content: "";
    position: absolute;
    height: 100%;
    /* width: 100%; */
    background-color: #a4c58c;
  }
  .tabs__content::before{
    right: 99%;
  }
  .tabs__content::after{
    left: 99%;
  }
  .list__link{
    justify-content: center;
  }
  .list__link a{
    padding: 22px 36px 22px 73px;
    min-width: 430px;
  }
  .list__link a::after{
    right: 85px;
  }
  .tabs__reviews-links{
    left: 132px;
  }
  .tab {
    padding: 24px 40px 24px;
  }
  /* .tabs__reviews::after,
  .tabs__reviews::before{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 20px;
    bottom: -20px;
    z-index: 2;
  }
  .tabs__reviews::after{
    left: 100%;
  }
  .tabs__reviews::before{
    right: 100%;
  } */
  .list__inner{
    padding-bottom: 20px;
  }
  .container-fluid .container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .advantages {
        margin-bottom: 100px; 
    }
    .history__form{
      margin-left: 30px;
    }
    .history__form button{
      position: relative;
    }
    .history__imj-mobile {
      left: 130%;
    }
    .quote {
      background-image: none;
    }
    .quote__wrapper{
    background-image: none;
    }
}

@media(max-width: 940px){
  .top__inner-form{
    position: absolute;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .advantages__inner {
    padding-top: 100px;
    }
  .top__inner-suptitle,
  .top__inner-title,
  .top__inner-text
    {
    width: 280px;    
    margin-right: 100px;
  }
  .top__inner-suptitle {
  }
  .top__inner-title {
  font-size: 50px;
  line-height: 50px;
  }
  .top__inner-text {
      font-size: 16px;
  }
  .popularity__momile-jpg {
    width: 630px;
    height: 540px;
    background-size: 640px;
  }
  .popularity__right {
    padding: 15px;
  }
  .history {
    padding-top: 180px;
  }
  .history__text {
    background-color: #f6f9f3;
    padding: 42px 25px 65px 25px;
  }
  .history__form{
    margin-left: 0px;
  }
  .form__btn::after {
    right: 42px;
  }
  .history__form{
    max-width: 347px;
  }
  .history__form button{
    padding: 25px 60px 25px 30px;
  }
  .history__imj-mobile {
    left: 130%;
  }
  .history__title {
    padding-top: 50px;
  }
  .item {
    width: 228px;
    min-height: 228px;
  }
  .items__title {
    font-size: 28px;
    padding: 73px 0;
  }
  .container-fluid {
  background-color: #f6f9f3;
  }
  .items__inner {
    background-color: transparent;
  }
  .item__wrapper {
    min-height: 310px;
  } 
  .reviews__link {
    flex-direction: column;
    padding-bottom: 70px;
    margin-bottom: 0px;
    background-color: #f6f9f3;
  }
  .reviews__link-tab{
    margin-bottom: 20px;
  }
  .reviews__title {
    top: 30px;
  }
  .build__wrapper { 
    background-image: none;
  }
  /* .container-fluid {
    background-color: transparent; 
  } */
  .build__inner {
    max-width: max-content;
    margin-top: 30px;
  }
  .build__wrapper {
    padding: 0px 55px
  }
  .certificate__content {
    padding-left: 38px;
    order: 2;
  }
  .certificate__title {
    text-align: center;
  }
  .certificate__inner {
    height: 100%;
  }
  .certificate__text {
    text-align: center;
    padding-right: 0px;
  }
  .certificate__images {
    position: static;
    order: 1;
  }   
  .certificate__text{
    display: none;
    margin: 0 auto;
    max-width: 450px;
  }
  .certificate__text-tablet{
    display: block;
    margin-bottom: 50px;
  }
  .certificate__images img{
    margin-left: 20px;
    max-width: 270px;
  }
  .certificate__content {
    margin-right: 30px;
  }
  .certificate__box fieldset {
    display: flex;
    padding: 40px 0px 0px 0px;
    flex-direction: column;
    justify-content: flex-end;
  }
  .certificate__link{
    display: block;
    position: relative;
    margin-top: 60px;
    text-align: center;
  }
  .certificate__link::after{
    right: 70px;
  }
  .certificate__box p{
    padding: 0px 30px 0px 30px;
  }
  .container-fluid {
    background-color: transparent;
  }
  .reviews__link {

  }
}
  @media(max-width: 840px){
  .composition__link-text p {
    padding-left: 14px;
  }
    .history__imj-mobile {
      left: 110%;
  }
  .quote__inner {
    min-width: auto;
  }
  .composition__link {
    max-width: 350px;
    height: 350px;
    padding: 88px 0px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .composition__item-inner {
    width: 350px;
    height: 350px;
  }
  .composition__link-text {
    height: 100%;
    padding-left: 0px;
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: space-between;
}
  /* .composition__link-text p {
    padding-left: 3px;
  } */
  .composition__link-text p:nth-child(2){
    display: none;
  }
  .composition__link-text::before{
    display: none;
  }
  .composition__link-btm {
    display: block;
    width: 100%;
    padding: 20px 73px 19px 78px;
    position: static;
  }  
  .composition__link-btm::after{
    display: none;
  }
  .composition__row div:nth-child(10){
    margin-bottom: 0px;
  }
  .composition__item-lust {
    text-align: left;
    width: 98px;
    height: 133px;
    bottom: 21%;
    right: 47%;
  }
  .reviews__title {
  text-align: center;
  font-size: 40px;
  }
  .reviews__title br{
    display: none;
  }
  .build__title {
    font-size: 37px;
    line-height: 48px;
  }
  .build__inner-box {
  padding: 60px 33px 67px 63px;
  }
  .certificate__box legend {
    padding: 0px 64px;
  }
}
@media(max-width: 768px){
    .quote {
      min-height: auto;
    }
    .quote__wrapper {
      min-height: auto;
    }
    .advantages__inner {
        padding-top: 10px;
        padding-left: 80px;
        padding-right: 50px;
      }
    .top__inner-suptitle {
        margin-top: 25px;
    }
    .top__inner-text{
        margin-bottom: 50px;
    }
    .top__inner-img img{
        width: 200px;
    }

    .advantages__item {
        padding-right: 36px;
    }
    .advantages {
      margin-bottom: 80px; 
  }
  .list__title{
    padding-top: 0;
    text-align: center;
    max-width: 370px;
    margin: 0 auto 30px;
    font-size: 30px;
    line-height: 40px;
  }
  .history__imj-mobile {
    left: 96%;
}
  .item__number {
    font-size: 120px;
  }
  .item__content-title {
    
    font-size: 12px;
  }
  .build__wrapper {
    padding: 0px 40px;
  }
  .certificate__link::after{
    display: none;
  }
}
@media(max-width: 760px){
    .advantages__inner {
        padding-top: 180px;
        padding-left: 0px;
        padding-right: 0px;
      }
      .advantages__item {
        padding-right: 30px;
      }
}

@media(max-width: 730px){
  .composition__link {
    margin-top: 28px;
  }
}

@media(max-width: 700px){
  .reviews__tab {
    width: 49%;
    text-align: center;
    padding: 25px 5px;
    display: inline-block;
}
  .footer__inner {
    margin-top: 10px;
    justify-content: center;
  }
  .footer__logo{
    display: none;

  }
  .footer__phone {
    display: none;
  }
  .header__text{
      display: none;
  }
  .history__imj-mobile {
    width: 260px;
    height: 336px;
    background-size: 285px;
    left: 100%;
  }
  
  .item {
    width: 183px;
    min-height: 177px;
  }
  .item__content-img {
    width: 67px;
  }
  .build__inner-box {
    border: none;
    padding: 0;
  }
  .certificate__wrapper {
    max-height: 100%;
  }
  .certificate__inner {
    display: flex;
    flex-direction: column;
      align-items: center;
      gap: 20px;
  }
  .certificate__images img {
    max-width: 100%;
    margin-left: 0px;
  }
  .certificate__title {
    font-size: 28px;
  }
}


@media(max-width: 640px){
    .advantages__inner {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
      } 
    .top-form,.top__inner-text{
        display: none;
    }
    .top__wrapper {
        margin-top: -494px;
    }
    .top-form__inner{
        left: 15px;
    }
    .top__inner-img img{
        width: 85px;

    }
    .mobile__link-btm{
        display: block;
        width: 100%;
        text-align: center;
        padding: 22px 15px 22px 15px;
    }
    .top__wrapper {
        margin-top: -444px;
    }

    .top__inner-form{
        position: static;
        align-items: center;
        text-align: center;
    }
    .top__inner-suptitle, .top__inner-title, .top__inner-text {
        width: 100%;
        margin-right: 0;
    }
    .top__inner{
        flex-direction: column;
        align-items: center;
      }
      .top__inner-img {
        order: 0;
      }
      .advantages__item {
        padding-right: 10px;
      }
      .popularity__momile-jpg {
        width: 100%;
        height: 540px;
        background-size: cover;
    }
    .history__form {
      max-width: 640px;
    }
    .history__form{
      display: flex;
      flex-direction: column
    }
    .history__imj-mobile {
      position: static;
      width: 100%;
      height: 500px;
      box-sizing: border-box;
      background-size: cover;
      order: 0;
    }
    .history__form-title{
      order: 1;
      text-align: center;
    }
    .history__form form{
      order: 2;
    }
    .item__wrapper {
      min-height: 240px;
  }
  .build__inner {
    padding: 0px;
  }
  .reviews__link {
    margin-bottom: 40px;
}
}

@media(max-width: 600px){
  .top__wrapper .container{
    padding-left: 0px;
    padding-right: 0px;
  }
.advantages__item {
    width: 100%;
  }
  .tabs__box{
    flex-direction: column;
  }
  .tabs__box .tab:first-child, .tabs__box .tab:nth-child(3) {
    border-right: none;
    padding-right: 0;
  }
  .tabs__box .tab:last-child, .tabs__box .tab:nth-child(2) {
    padding-left: 40px;
  }
  .tabs__box .tab {
    width: 100%
  }
  .tab-order-0 {
    order: 0;
  }
  .tab-order-1 {
    order: 1;
  }
  .tab-order-2 {
    order: 2;
  }
  .tab-order-3 {
    order: 3;
  }
  .tabs__content {
    width: auto;
    min-width: auto;
  }
  .tabs__content::before, .tabs__content::after {
    height: 0;
  }
  .popularity__right-title {
    font-weight: 500;
    font-size: 32px;
  }
  .popularity__right-subtitle {
    padding: 35px 0;
  }
  .popularity__right-list li {
    margin-bottom: 35px;
    padding-left: 25px;
  }
  .popularity__box {
    margin-top: 0;
    padding: 0;
  }
  .popularity__box-text {
    border: 0;
  }
  .popularity__box-link::after{
    display: none;  
  }
  .popularity__box-linkMobile{
    display: block;
    right: 0;
    bottom: 0;
    padding: 22px 52px 22px 27px;
    outline: none;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #7eb252;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    margin-top: 0px;
}
  .popularity__box-link{
    display: none;
  }
  .popularity__momile-jpg {
    height: 480px;
  }
  .history {
    padding-top: 0;
  }
  .history__title {
    padding-top: 94px;
    height: 300px;
  }
  /*  */
  .item__number {
    font-size: 90px;
  }
  .item__content-title {
    font-size: 9px;
  }
  .item {
    width: 150px;
    min-height: 177px;
  }
  .item__content-img {
    width: 50px;
  }
  .build__link {
    display: block;
    text-align: center;
  }
  .build__link::after{
    display: none;
  }
  .certificate__images img {
    max-width: 280px;
}
  .certificate__text-tablet {
    padding: 0 20px;
  }
  .certificate__content {
    padding-left: 0;
  }
  .certificate__box {
    background-color: transparent;
    padding: 16px 0px 0px;
  }
  .certificate__link {
    padding: 18px 25px 18px 25px;
    margin-top: 0;
  }
  .certificate__box fieldset {
    border: none;
  }
  .certificate__box legend {
    text-align: center;
    padding: 0px 0px;
  }
  .certificate__box fieldset {
    padding: 7px 0px 0px 0px;
    gap: 20px;
  }
  .certificate__box p {
    padding: 0px 10px 0px 15px;
  }
  .certificate__content {
    margin-right: 0px;
  }
}
@media(max-width: 550px){
  .composition{
    padding: 146px 0 100px;
  }
  .tabs__content{
    height: 153px;
    background-image: none;
  }
  .tabs__content::after,
  .tabs__content::before{
    display: none;
  }
  .tab-order-3{
    border-bottom: none;
  }
  .tabs__reviews{
    position: static;
  }
  .tab.active::after{
    display: none;
  }
  .tabs__reviews-links {
    bottom: -6px;
  }
  .popularity__momile-jpg {
    height: 480px;
  }
  .popularity__momile-jpg {
    height: 360px;
  }
  .history__form {
    padding: 0px;
    padding-left: 0px;
  }
  .history__title {
      padding: 0px;
}
  .form__btn::after {
    display: none;
  }
  .history__form input {
    text-align: center;
  }
  .history__form-title {
    padding: 0px 47px 0 47px;
  }
  .history__text {
    padding: 5px 25px 40px 25px;
  }
  .history__title {
    height: 192px;
    font-size: 35px;
    line-height: 42px;
    font-weight: 500;
    padding-top: 120px;
    height: 252px;
  }
  .history__text {
    padding: 5px 20px 40px 20px;
}
  .quote__inner {
    font-size: 20px;
    line-height: 39px;
    font-weight: 500;
  }
  .quote__wrapper {
    padding: 110px 0px 100px;
  }
  .reviews-text:nth-child(odd) {
    padding-left: 27px;
  }
  /* .reviews__tab{
    width: 49%;
    text-align: center;
    padding: 25px 5px;
    display: inline-block;
  } */
  .reviews-text:nth-child(odd)::before {
    left: 31px;
  }
  .reviews-textBox {
    padding-top: 30px;
  }
  .reviews__link-popup {
    text-align: center;
  }
  .reviews__link-popup::after{
    display: none;
  }
  .reviews-textBox {
    padding-bottom: 0px;
  }
  .build__wrapper {
    padding: 0px 0px;
  }
  .build__title {
    padding: 0 42px;
    text-align: center;
  }
  .build__text{
    padding: 0 20px;
  }
  .build__text span {
    margin: 30px 0 25px;
    text-align: center;
  }
  .build__title {
    font-size: 28px;
    line-height: 43px;
    margin-bottom: 33px;
    padding: 0px 35px;
  }

  .certificate__wrapper {
    padding: 30px 0 0px;
}
}
@media(max-width: 480px){
    .header__phone{
        font-size: 14px;
    }
    .header__phone a::before{
        display: none;
    }
    .header__phone-text{
        display: none;
    }
    .header__logo imj{
        width: 110px;
    }
    .list__title{
      font-size: 24px;
      line-height: 30px;
    }
    .tab{
      font-size: 12px;
      padding: 24px 14px 12px;
    }
    .tabs__reviews-text {
      font-size: 12px;
    }
    /* .tabs__reviews{
      padding: 0;
    } */
    .tabs__reviews-inner {
      /* padding: 30px 20px; */
      width: 300px;
  }
  .tab-item:first-child {
    display: none;
}
  .tabs{
    padding-right: 0;
  }
  .tabs__box .tab:last-child, .tabs__box .tab:nth-child(2) {
    padding-left: 15px;
  }
  .tabs__reviews-links {
    bottom: -33px;
  }
  .items__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item {
  border: none;
  }
  .items__title {
    font-size: 19px;
  }
  .reviews__link {
    padding-bottom: 0;
  }
}

@media(max-width: 470px){
  .list__link a {
    min-width: 320px;
  }
    .top__wrapper {
        margin-top: -494px;
    }
    .top__inner-title {
        line-height: 50px;
    }
    .list__link a {
      padding: 22px 36px 22px 73px;
      width: 100%;
  }
  .list__link {
    text-align: center;
  }
  .list__link a::after {
    display: none;
  }
  .history__title {
    height: 300px;
  }
  .quote__inner {
    font-size: 18px;
    line-height: 36px;
  }
  .quote__wrapper {
    padding: 55px 0px 100px;
  }
  .items__title {
    padding: 73px 33px;
  }
  .composition .container{
    padding-left: 0px;
    padding-right: 0px;
  }
  .composition__title {
    font-size: 23px;
    text-align: center;
  }
  .composition__box {
    padding-left: 18px;
    padding-right: 20px;
  }
  .footer__inner {
    margin-top: 0;
  }
}
@media(max-width: 380px){
  .composition__link {
    border: transparent;
  }
  .composition__link-text p {
    padding-left: 8px;
  }
  .composition__link-btm {
    padding: 21px 50px 19px 66px;
  }
  .reviews__title {
    font-size: 24px;
  }
  .build__title {
    font-size: 24px;
    line-height: 39px;
    margin-bottom: 28px;
    padding: 0px 31px;
  }
  .build__text {
    padding: 0 15px;
    font-size: 14px;
  }
  .build__text span {
    margin: 23px 0 12px;
  }
}

@media(max-width: 360px){

    .advantages__item{
        padding-top: 50px;
    }
    .advantages__item {
        padding-top: 0px;
        margin-bottom: 45px;
        max-width: 225px;
      }
    .advantages__item::before{
    display: none;
    }
    .popularity__momile-jpg {
      height: 240px;
    }
    .composition__item-inner {
      max-width: 320px;
      max-height: 320px;
  }
  .composition__link {
    max-width: 320px;
    max-height: 320px;
  }
  .reviews-text:nth-child(odd) {
    font-size: 14px;
    padding: 14px 15px 16px 14px;
  }
  .reviews__title {
    line-height: 41px;
    margin-bottom: 30px;
  }

}