*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}



.container{
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-fluid{
max-width: 1720px;
margin: 0 auto;
}

.header__inner,
.footer__inner{
  display: flex;
  justify-content: space-between;
  height: 105px;
  align-items: center;
}

.header__text{
  margin-right: auto;
  margin-left: 30px;
  color: #9a9a9a;
  font-size: 16px;
}

.header__phone,
.footer__phone{
  font-weight: 500;
  font-size: 20px;
}
.header__phone a,
.footer__phone a{
  color: #303030;
  text-decoration: none;
  position: relative;
}
.header__phone a::before,
.footer__phone a::before{
  content: '';
  background-image: url(../images/phone.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  left: -27px;
  top: 5px;
}
.header__phone-text,
.footer__phone-text{
  font-weight: 400;
  font-size: 12px;
  color: #9a9a9a;
  text-align: right;
  padding-top: 3px;
}
.footer__link{
  text-decoration: underline;
  color: #9a9a9a;
  font-size: 12px;
}

.top{
  margin-bottom: 75px;
}
.top__images{
  background-image: url(../images/top-bg.jpg);
  min-height: 545px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 1720px;
  margin: 0 auto;
}
.top__wrapper{
  margin-top: -450px;
}
.top__inner{
  display: flex;
  justify-content: space-between;
}
.top__inner-img{
  margin-left: 125px;
}
.top__inner-form{
  max-width: 570px;
  width: 100%;
}
.top__inner-suptitle{
  margin-top: 70px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.top__inner-title{
  line-height: 60px;
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  color: #fff;
}
.top__inner-text{
  margin-bottom: 73px;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.top-form{
  background-color: #fff;
  padding: 20px;
}
.top-form form{
  border: 1px solid #c8dcba;
  position: relative;
}
.top-form__inner{
  padding: 50px 50px 118px 50px;
}
.top-form__title{
  color: #303030;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 35px;
  font-weight: 700;
  text-transform: uppercase;
  width: 190px;
}
.top-form input{
  border: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c8dcba;
  outline: none;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  width: 195px;
}
.top-form input + input{
  margin-left: 30px;
}

.top-form input::placeholder{
  color: #c8dcba;
}

.top-form button{
  position: absolute;
  right: 0;
  bottom: 0;
}
.mobile__link-btm{
  display: none;
}

/* .top-form button:after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 60px;
  top: 25px;
} */

.form__btn{
  padding: 22px 110px 22px 70px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
}
.form__btn::after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 60px;
  top: 25px;
}

.advantages{
  margin-bottom: 200px;
}
.advantages__inner{
  display: flex;
  justify-content: space-around;
}
.advantages__item{
  width: 240px;
  padding-left: 40px;
  padding-top: 35px;
  position: relative;
}
.advantages__item::before{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid rgba(126,178,82, .3);
  top: 0;
  left: 0;
}
.advantages__item-number{
  color: #a4c58c;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  border-bottom: 3px solid #a4c58c;
  display: inline-block;
}
.advantages__item-number span{
  font-size: 30px;
}
.advantages__item-text{
  padding-top: 20px;
  font-size: 16px;
  line-height: 24px;
}


.list .container-fluid{
background-color: #f6f9f3;
}

.list__title{
  font-weight: 700;
  color: #303030;
  font-size: 40px;
  line-height: 50px;
  max-width: 470px;
  margin-bottom: 30px;
  padding-top: 40px;
}

.tabs__content{
  min-width: 500px;
  height: 689px;
  background-image: url(../images/list-images.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  margin-top: -170px;
}

.list__inner{
  display: flex;
  justify-content: space-between;
  background-color: #f6f9f3;
}

.tabs{
  padding-right: 20px;
  width: 100%;
}

.tab{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #303030;
  padding: 24px 40px 24px 0;
  border-bottom: 1px solid #e6efde;
  text-transform: uppercase;
  cursor: pointer;
}
.tab.active{
position: relative;
}

.tab.active::after{
  content: "";
  position: absolute;
  right: 25px;
  background-image: url(../images/стрелка.png);
  width: 8px;
  height: 13px;
}

.tab span{
  color: #a4c58c;
  margin-right: 18px;
}
.tab-item{
  display: none;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  width: 43px;
  height: 43px;
  border: 9px solid rgba(255,255,255,.8);
  border-radius: 50%;
  position: absolute;
  text-align: center;
  line-height: 25px;
}
.tab-item:first-child{
  display: block;
}
.item-1{
  left: 150px;
  top: 182px;
}
.item-2{
  left: 300px;
  top: 200px;
}
.item-3{
  left: 227px;
  top: 135px;
}
.item-4{
  left: 227px;
  top: 210px;
}
.item-5{
  left: 227px;
  top: 15px;
}
.item-6{
  left: 259px;
  top: 350px;

}
.item-7{
  left: 227px;
  top: 15px;

}
.item-8{
  left: 227px;
  top: 210px;
}
.item-9{
  left: 227px;
  top: 25px;
}

.tabs__box{
 display: flex;
 flex-wrap: wrap;
}

.tabs__box .tab{
  font-size: 16px;
  font-weight: 400px;
  width: 50%;
  text-transform: none;
  display: flex;
  align-items: center;

 }

 .tabs__box .tab span{
  font-size: 12px;
 }

.tabs__box .tab:first-child,
.tabs__box .tab:nth-child(3){
  border-right: 1px solid #e6efde; 
  padding-right: 25px;
}

.tabs__box .tab:last-child,
.tabs__box .tab:nth-child(2){
  padding-left: 25px;
}

.tabs__box .tab.active::after{
  display: none;
}

.tabs__reviews{
  padding: 20px;
  background-color: #f6f9f3;
  max-width: 430px;
  position: absolute;
  bottom: 0;
}

.tabs__reviews-inner{
  border:  1px solid #c3d7b3;
  padding: 30px 50px 30px 40px;
}

.tabs__reviews-text{
color: #303030;
}

.tabs__reviews-links{
  color: #7fb252;
  padding-bottom: 1px;
  font-weight: 600;
  padding: 0px 0px;
  position: absolute;
  bottom: 10px;
  background-color: #f6f9f3;
}

.list__link{
  display: flex;
  justify-content: flex-end;
}

.list__link a{
  margin-top: 20px;
  right: 0;
  bottom: 0;
  padding: 22px 100px 22px 120px;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  min-width: 500px;
  position: relative;
}

.list__link a:after{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 100px;
  top: 30px;
}

.popularity{
  padding-top: 200px;
}

.popularity__wrapper{
  background-repeat: no-repeat;

  min-height: 645px;
  background-image: url(../images/popularity.jpg);
}

.popularity__inner{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 1466px;
}

.popularity__right{
  max-width: 500px;
  width: 100%;
  padding-right: 15px;
}

.popularity__right-title{
  font-weight: 700;
  line-height: 50px;
  font-size: 40px;
  color: #303030;
  margin-top: 55px;
}

.popularity__right-subtitle{
  color: #303030;
  padding: 50px 0;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.popularity__right-list{
  list-style: none;
}

.popularity__right-list li{
  color: #303030;
  line-height: 22px;
  margin-bottom: 45px;
  padding-left: 40px;
  position: relative;
}

.popularity__right-list li::before{
  content: "";
  position: absolute;
  left: 0;
  height: 13px;
  width: 8px;
  background-image: url(../images/стрелка.png);
  top: 50%;
  transform: translate(-50%);
}
.popularity__box{
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
}

.popularity__box-text{
  border:  1px solid #c3d7b3;
  padding: 30px;
  color: #303030;
  margin-right: 70px;
}
.popularity__box-linkMobile{
    display: none;
}

.popularity__box-link,
.composition__link-btm,
.reviews__link-popup,
.build__link,
.certificate__link,
.mobile__link-btm{
  margin-top: 20px;
  right: 0;
  bottom: 0;
  padding: 22px 52px 22px 27px;
  outline: none;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: #7eb252;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.composition__link-btm::after,
.popularity__box-link::after,
.reviews__link-popup::after,
.build__link::after,
.certificate__link::after
{
  content: '';
  background-image: url(../images/arrow-right.png);
  width: 31px;
  height: 9px;
  position: absolute;
  right: 17px;
  top: 26px;
}

.history{
  padding-top: 270px;
  margin-bottom: 50px;
}

.history__wrapper{
  background-image: url(../images/alonco.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 920px;
}

.history__title{
  padding: 80x 0 40px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  max-width: 570px;

}
.history__text{
  background-color: #f6f9f3;
  padding: 42px 30px 65px 0;
  max-width: 700px;
  position: relative;
}
.history__text ::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 275px;
  background-color: #f6f9f3;
  right: 100%;
  top: 0;
}

.history__text p{
  margin: 15px 0;
}

.history__form{
  max-width: 400px;
  padding-left: 30px;
  margin-left: 200px;
}

.history__form-title{
  margin: 35px 0px 20px;
  font-size:  14px;
  line-height: 22px;
  font-weight: 700;
  padding-right: 30px;
  text-transform: uppercase;
}

.history__form input{
  border: none;
  outline: none;
  height: 34px;
  border-bottom: 1px solid #cddcbc;
  display: block;
  width: 100%;
  font-size: 14px;
}

.history__form button{
  width: 100%;
  margin-top: 30px;
}

.history__form input ::placeholder{
  color: #a8c48c;
}
.quote{
  min-height: 620px;
  background-image: url(../images/qoat__legt.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
}
.quote__wrapper{
  padding: 150px 0px 100px;
  background-image: url(../images/qoat__right.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
  min-height: 620px;
}

.quote__inner{
  min-width: 770px;
  padding: 50px 0px;
  border-top: 1px solid #a4c58c;
  border-bottom: 1px solid #a4c58c;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  max-width: 800px;
}
.author{
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 40px;
}
.author span{
  font-size: 16px;
  color: #9a9a9a;
}

.items__title{
  padding: 100px 0;
  max-width: 530px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.item__wrapper{
  background-color: #f6f9f3;
  min-height: 385px;
}

.items__inner{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
  max-width: 1010px;
  margin: 0 auto;
  position: relative;
  top: -70px;

}

.item{
  width: 312px;
  min-height: 312px;
  border: 1px solid #e4eddc;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__number{
  position: absolute;
  font-weight: 900;
  font-size: 150px;
  line-height: 115px;
  color: #f7f9f3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-75%);
}

.item__content{
  position: relative;
  text-align: center;
}
.item__content-img{
  margin-bottom: 30px;
}

.item__content-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 10px 10px;
}
.composition{
  padding: 180px 0 100px;
}
.composition__item{
  background-color: #f6f9f3;
  margin-bottom: 30px;
}

.composition__item-inner{
  width: 270px;
  height: 270px;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


.composition__item-num,
.composition__item-name{
 font-size: 14px;
 line-height: 24px;
 letter-spacing: 3px;
 color: #bad3a7;
 font-weight: 700;
 position: absolute;
 transform: rotate(0.75turn);
}

.composition__item-num{
  top: 27px;
  left: -3px;
  text-transform: uppercase;
}

.composition__item-name{
  font-weight: 400;
  bottom: 13px;
  right: 33px;
  width: 0;
  white-space: nowrap;
  height: 0;
}

.composition__item-effect{
  opacity: 0;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/comp-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .3s;
}

.composition__item-text{
  color: #fff;
  padding: 5px;
  font-size: 14px;
  font-size: 700;
  text-align: center;
}

.composition__item-inner:hover .composition__item-effect{
  opacity: 1;
}

.composition__row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.composition__box{
  max-width: 560px;
  padding-left: 56px;
  padding-right: 20px;
}

.composition__title{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 30px;
  margin-top: -60px;
}

.composition__box-list{
  list-style: none;
}

.composition__box-list li{
  line-height: 22px;
  padding-left: 22px;
  position: relative;
  margin-bottom: 25px;
}

.composition__box-list li::before{
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #7eb252;
}

.composition__link{
  margin-left: 16px;
  margin-right: 54px;
  border: 1px solid #7eb252;
  padding: 54px 100px 95px 49px;
  max-width: 830px;
  height: 100%;
  position: relative;  
}

.composition__link-text{
  padding-left: 25px;
  position: relative;  
}

.composition__link-text::before{
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #7eb252;
}

.composition__link-text p{
  line-height: 22px;
  margin-bottom: 15px;
  padding-left: 25px;
}

.composition__link-btm{
  padding: 19px 67px 19px 27px;
 position: absolute;
 bottom: -75%;
 right: -15%;
}

.composition__item-lust{
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    color: rgb(48, 48, 48);
    text-transform: uppercase;
    text-align: left;
    width: 130px;
    height: 110px;
    bottom: 13%;
    right: 32%;
  }


.reviews{

}

.reviews__title{
font-size: 40px;
line-height: 50px;
font-weight: 500;
margin-bottom: 40px;
}

.reviews__tab{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #c4c4c4;
  display: inline-block;
  cursor: pointer;
  padding: 25px 40px 25px 70px;
  position: relative;
}
.reviews__tab.active:first-child::before{
  content: "";
  background-color: #f6f9f3;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 80%;
  top: 0;
}
.reviews__tab.active:last-child::after{
  content: "";
  background-color: #f6f9f3;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
}


.reviews__tab.active{
  background-color: #f6f9f3;
  color: #7eb252;
}


.reviews__content-item{
  display: none;
}
.reviews-text{
  padding: 20px 0 50px;
  color:  #9a9a9a;
  max-width: 570px;
  width: 100%;
  position: relative;
}
.reviews-textBox{
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reviews-text:nth-child(odd){
  padding-left: 70px;
  padding-right: 20px;
}
.reviews-text:nth-child(odd)::before{
  left: 70px;
}
.reviews-text:nth-child(even){
  padding-right: 70px;
}

.reviews-text::before{
  content: "";
  height: 3px;
  width: 30px;
  background-color: #a4c58c;
  position: absolute;
  left: 0;
  top: 0;
}
.reviews-text span{
  font-weight: 700;
  display: block;
  padding-top: 20px;
  color: #303030;
}

.reviews__content-item:first-child{
  display: block;
}

.reviews__content{
  background-color: #f6f9f3;
}
.reviews__link{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 200px;
}
.reviews__link-popup{
  position: relative;
}

.reviews__link-tab{
  margin-right: 80px;
  color: #7eb252;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #7eb252;
  line-height: 14px;
}

.build__wrapper{
  padding: 60px 55px;
  background-image: url(../images/build.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 700px;
}
.build__content{
  display: flex;
  justify-content: flex-end;
}
.build__inner{
  padding: 20px;
  max-width: 685px;
}
.build__inner-box{
  border: 1px solid #c8dcba;
  padding: 60px 45px 70px 70px;
  background-color: white;
}
.build__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
  font-weight: 700;
}
.build__text p{
  margin: 10px 0;
}
.build__text span{
  font-weight: 700;
  font-size: 14px;
  margin: 40px 0 50px;
  display: inline-block;
  text-transform: uppercase;
}
.build__link{
  position: relative;
}


.certificate{
  margin-top: 250px;

}

.certificate__title{
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}

.certificate__wrapper{
  background-color: #f6f9f3;
  padding: 30px 0 0;
  max-height: 750px;
}

.certificate__inner{
  display: flex;
  height: 560px;
}
.certificate__content{
  min-width: 670px;
  margin-right: 60px;
  padding-left: 70px;
}

.certificate__text{
  margin-bottom: 45px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding-right: 85px;
}

.certificate__images{
  position: relative;
  top: -230px
}
.certificate__box{
  background-color: #fff;
  padding: 16px 20px 20px;
}
.certificate__box fieldset{
  border: 1px solid #c8dcba;
  padding: 45px 45px 80px 50px;
  position: relative;
}
.certificate__box legend{
  text-transform: uppercase;
  font-size: 14px;
  color: #a4c58c;
  padding: 0 8px;
}

.certificate__box p{
  max-width: 0 0 10px;
  line-height: 22px;
}

.certificate__link{
  bottom: 0;
  right: 0;
  padding: 18px 85px 18px 60px;
  position: absolute;
}

.certificate__link::after{
top: 27px;
}
.certificate__text-tablet{
  display: none;
}
.footer__container-links{
  display: flex;
  gap: 35px;
}
/* color: #7eb252;  */